{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

    <title>Top 20 Non-Stable Coins</title>

    <h1 class="my-4 text-center">Top 20 Non-Stable Coins</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Price (USD)</th>
                    <th>Market Cap</th>
                    <th>Volume (24h)</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
                {% for coin in top_coins %}
                    <tr>
                        <td>{{ coin.cmc_rank }}</td>
                        <td>{{ coin.name }}</td>
                        <td>{{ coin.symbol }}</td>
                        <td>${{ coin.quote.USD.price|floatformat:2 }}</td>
                        <td>${{ coin.quote.USD.market_cap|floatformat:2 }}</td>
                        <td>${{ coin.quote.USD.volume_24h|floatformat:2 }}</td>
                        <td>{{ coin.last_updated }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
